/* You can add global styles to this file, and also import other style files */
@import '~ngx-toastr/toastr.css';
@import '../node_modules/materialize-css/sass/materialize.scss';
*{
  box-sizing: border-box;
}
body{
  height: 100%;
  width: 100%;
  background: #f5f5f5;
}

.nav {
  background: -webkit-linear-gradient(left, #3931af, #00c6ff);
  padding-left: 15px;
}

