<div class="list-container"
     infiniteScroll
     [infiniteScrollDistance]="2"
     [infiniteScrollThrottle]="100"
     (scrolled)="onScroll()"
     [scrollWindow]="false"
>
  <div class="row">
  <nav class="col s12 m6 offset-m3 nav">
    <div class="nav-wrapper">
      <form>
        <div class="input-field">
          <input id="search" name="search" type="search" [(ngModel)]="search" (input)="onSearch($event.target.value)">
          <label class="label-icon" for="search"><i class="material-icons">search</i></label>
          <i class="material-icons">close</i>
        </div>
      </form>
    </div>
  </nav>
  </div>
  <app-category-add (categoryAdded)="categoryAddedCallback($event)"></app-category-add>
  <div class="row" *ngFor="let category of categories">
  <div class="col s12 m6 offset-m3">
    <div   class="card blue-grey darken-1">
      <div (click)="selectCategory(category)" class="card-content white-text">
        <span class="card-title">{{category.name}}</span>
        <p>{{category.description}}</p>
        <p>Click Here to show/hide subcategories</p>
      </div>
      <div class="card-action">
        <a [routerLink]="'/'+category.id+'/edit'">EDIT</a>
        <a (click)="deleteCategory(category)">DELETE</a>
        <a (click)="deleteCategory(category)">DELETE</a>
      </div>
      <div *ngIf="selectedCategory === category.id"  class="subcat">
        <app-sub-category [categoryId]="category.id"></app-sub-category>
      </div>
    </div>
  </div>
</div>
</div>
