.login-form{
  margin-top: 10%;
  padding-top: 7vh;
  padding-left: 7vw;
}
.btnLogin{
  float: right;
  border: none;
  border-radius: 1.5rem;
  padding: 20px 80px;
  background: #0062cc;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.helper-text{
  color: #ff693d;
}
