<form [formGroup]="loginForm" class="login-form" (ngSubmit)="loginUser()">
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">alternate_email</i>
      <input id="icon_email" formControlName="email" type="tel" class="validate" [(ngModel)]="user.email">
      <label for="icon_email">E-mail</label>
      <div *ngIf="email.invalid && (email.dirty || email.touched)">
        <span *ngIf="email.errors.required" class="helper-text" >Email cannot be empty</span>
        <span *ngIf="email.errors.email" class="helper-text" >Invalid Email Format</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="input-field col s12">
      <i class="material-icons prefix">vpn_key</i>
      <input id="icon_password" formControlName="password"  type="password" class="validate" [(ngModel)]="user.password">
      <label for="icon_password">Password</label>
      <div *ngIf="password.invalid && (password.dirty || password.touched)">
        <span *ngIf="password.errors.required" class="helper-text">Password is required</span>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col s12">
      <input [ngStyle]="submitted ? {'background': '#c1c1c1',color: '#000000'}: {}" type="submit" class="btnLogin" value="Login"/>
    </div>
  </div>
</form>
