<div class="navigation">
<nav class="nav">
  <div class="nav-wrapper">
    <a href="#" class="brand-logo">Logo</a>
    <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    <ul class="right hide-on-med-and-down">
      <li><a (click)="authService.logout()">BYE,{{user.username}}</a></li>
    </ul>
  </div>
</nav>
<app-breadcrum  *ngIf="breadcrum.shouldShow()" [breadcrums]="breadcrum.getBreadcrum()"></app-breadcrum>
<ul class="sidenav" id="mobile-demo">
  <li><a (click)="authService.logout()">BYE,{{user.username}}</a></li>
</ul>
</div>
<div class="router">
<router-outlet></router-outlet>
</div>
